[submodule "Vendor/CUtils"]
	path = Vendor/CUtils
	url = https://www.github.com/Krusto/CUtils
[submodule "Vendor/PerlinNoise"]
	path = Vendor/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise
[submodule "Vendor/LibraryLoader"]
	path = Vendor/LibraryLoader
	url = https://github.com/Krusto/LibraryLoader
